.main {
  &_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 80%;
    margin: auto;
  }

  &_bottom {
    height: 4rem;
  }
}
