$nav-color: rgb(236, 167, 48);
$background-grey: rgb(182, 182, 182, 0.2);
$border-grey: rgba(226, 221, 221, 0.726);
$dark-grey: rgb(127, 127, 127);
$error-text: rgb(244, 132, 132);
$skeleton-loader-primary: rgb(228, 231, 231);
$skeleton-loader-secondary: rgb(214, 214, 214);
