.pokemon-info {
  min-width: 400px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr;

  border-radius: 5%;

  &__container {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1.5fr;

    & > * {
      padding-left: 1rem;
    }
  }
}
