.Evolution_container {
    width: 100%;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.evolution {
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 2% auto auto auto;
    align-items: center;
    justify-content: center;
}

.individual-evolution {
    margin: 1%;
    padding: 5%;
    border: solid;
    border-radius: 10%;
    max-width: 200px;
    min-height: 180px;
    max-height: 250px;
    justify-content: space-between;
    border-color: rgba(226, 221, 221, 0.726);
}

.pokemon-image-evo {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
}

h5 {
    text-align: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 360px) {
    .pokemon-image-evo  {
      max-width: 75vw;
    }
  }
  