.pokemonInfo {
  padding: 30px 0 0 0;
  font-weight: bold;
}

.img-container {
  width: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.pokemonInfo img {
  width: 100%;
  height: auto;
}

.pokemonTypesContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  margin: 10px auto 10px auto;
}

.pokemonType {
  background-color: red;
  padding: 6px 20px;
  width: 60px;
  border-radius: 10px;
}

.normal {
  background-color: #a7a877;
}

.fighting {
  background-color: #c13128;
}

.flying {
  background-color: #a890f0;
}

.poison {
  background-color: #9f419f;
}

.ground {
  background-color: #b8a038;
}

.rock {
  background-color: #b8a038;
}

.bug {
  background-color: #a9b720;
}

.ghost {
  background-color: #705998;
}

.steel {
  background-color: #b8b8d0;
}

.fire {
  background-color: #f08130;
}

.water {
  background-color: #6790f0;
}

.grass {
  background-color: #78c84f;
}

.electric {
  background-color: #f9cf30;
}

.psychic {
  background-color: #f95887;
}

.ice {
  background-color: #99d7d8;
}

.dragon {
  background-color: #7138f8;
}

.dark {
  background-color: #705848;
}

.fairy {
  background-color: #ef99ac;
}

@media screen and (max-width: 360px) {
  .pokemonTypesContainer {
    flex-direction: column;
    width: 50vw;
  }

  .pokemonType {
    margin-bottom: 8px;
  }

  .img-container {
    width: 85vw;
  }
}
