.pokemonInfo {
  padding: 30px 0 0 0;
  font-weight: bold;
}

.pokemon-name {
  display: flex;
  justify-content: center;
}

.pokemon-data-container {
  width: 80%;
  margin: auto;
}

.pokemon-name > h1 {
  padding: 10px;
}

.img-data {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.img-container {
  width: 5%;
  min-width: 200px;
}

.img-container > img {
  max-width: 250px;
}

.classdata {
  width: 25%;
  margin: auto 0;
  text-align: center;
}

.pokemonInfo img {
  width: 100%;
  height: auto;
}

.pokemonTypesContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
  margin: 10px auto 10px auto;
  padding: 0;
}

.pokemonType {
  background-color: red;
  padding: 6px 20px;
  margin: 5px;
  width: 60px;
  border-radius: 10px;
}

.normal {
  background-color: #a7a877;
}

.fighting {
  background-color: #c13128;
}

.flying {
  background-color: #a890f0;
}

.poison {
  background-color: #9f419f;
}

.ground {
  background-color: #b8a038;
}

.rock {
  background-color: #b8a038;
}

.bug {
  background-color: #a9b720;
}

.ghost {
  background-color: #705998;
}

.steel {
  background-color: #b8b8d0;
}

.fire {
  background-color: #f08130;
}

.water {
  background-color: #6790f0;
}

.grass {
  background-color: #78c84f;
}

.electric {
  background-color: #f9cf30;
}

.psychic {
  background-color: #f95887;
}

.ice {
  background-color: #99d7d8;
}

.dragon {
  background-color: #7138f8;
}

.dark {
  background-color: #705848;
}

.fairy {
  background-color: #ef99ac;
}

@media screen and (max-width: 360px) {

  .img-container {
    width: 85vw;
  }
}
