.chart-container {
    margin: auto;
    align-items: center;
    height: 100%;
}

h4 {
    margin: 5px;
}

dl {
    display: flex;
    height: 40px;
}

dd {
    margin: 0 20px;
}
.stat-name {
    width: 50%;
    text-align: left;
    height: 35px;
    margin: auto;
    font-size: 0.9em;
}

.bar {
    display: flex;
    justify-content: left;
    padding: 0;
    background-image: linear-gradient(to right, rgb(236, 43, 43), rgb(247, 190, 86));
    margin: 3px 0;
}

.chart {
    display: flex;
    min-width: 300px;
}

@media screen and (max-width: 550px) {

    .bar {
        display: none;
    }

    .chart-container {
        width: 100%;
        margin: auto;
    }

    .chart-container > div {
        width: 100%;
    }

    .chart {
        display: none;
    }
}
