@import "./styles/variables.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: Verdana, sans-serif;
}

#root {
  width: 100%;
}

.app {
  text-align: center;
  margin-top: 120px;
}

@mixin sm {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1280px) {
    @content;
  }
}
