* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: Verdana, sans-serif;
}

#root {
  width: 100%;
}

.app {
  text-align: center;
}

@mixin sm {
  @media screen {
    min-width: 640px;
  }
}

@mixin md {
  @media screen {
    min-width: 768px;
  }
}

@mixin lg {
  @media screen {
    min-width: 1024px;
  }
}
