* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

#root {
  width: 100%;
}

.main {
  padding-top: 80px;
}
.App {
  text-align: center;
}

.navBar {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  width: 100%;
  background: rgb(255,162,0,0.8);
  position: fixed;
  font-weight: bold;
  margin-bottom: 20px;
  top: 0;
}

.navItems {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.navItems li {
  padding: 20px 30px;
}

.navItems a {
  text-decoration: none;
  color: Black;
}

.navItems a:active {
  color: white;
} 

.feature {
  height: 20vw;
}

.pokemonSearch {
  justify-content: center;
  width: 300px;
  height: 30px;
  padding-left: 10px;
  border-color: rgba(231, 231, 231, 0.5);
}

.pokemonSearch:focus {
  outline-color: rgb(255,162,0,0.5);
}

.pokemonCard {
  width: 300px;
  height: 30px;
}

.pokemonName {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
}

.pokemonName hr {
  width: 80%;
  align-self: center;
}

.pokemonList img {
  width: 275px;
  height: 275px;
  margin: auto;
}

.pokemonList {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 50px 0 50px;
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  .navItems {
    display: flex;
    flex-direction: column;
  }

  .navItems :not(:first-child) {
    display: none;
  }
}