* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'Playfair Display', serif;
}

#root {
  width: 100%;
}

.main {
  padding-top: 80px;
}

.App {
  text-align: center;
}

.navBar {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  width: 100%;
  height: 67.5px;
  background: rgb(236, 167, 48);
  position: fixed;
  font-weight: bold;
  margin-bottom: 20px;
  top: 0;
}

.navItems {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.navItems li {
  padding: 20px 30px;
}

.navItems a {
  text-decoration: none;
  color: Black;
}

.navItems a:active {
  color: white;
} 

.pokemonSearch {
  justify-content: center;
  width: 300px;
  height: 30px;
  padding-left: 10px;
  border-color: rgba(231, 231, 231, 0.5);
  /* position: fixed; */
}

.pokemonSearch:focus {
  outline-color: rgb(255,162,0,0.5);
}

.pokemonCard {
  width: 300px;
  height: 30px;
}

.pokemonTitle {
  padding-bottom: 20px;
}

.loadMore {
  position: relative;
  margin: 0px 0 30px 0;
}

.pokemonName {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  border-style: solid;
  border-radius: 20px;
  border-color: rgba(226, 221, 221, 0.726);
  margin: 10px;
  padding: 5px;
}

.pokemonInfo {
  margin: auto;
}

.pokemon-image-container {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
}

.pokemonName hr {
  width: 80%;
  align-self: center;
}

.pokemonList img {
  display: block;
  width: 70%;
  margin: auto;
  cursor: pointer;
  padding: 30px;
}

.pokemonList {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 15% 0 15%;
  font-weight: bold;
}

.buttonFormat {
  width: 120px;
  height: 40px;
  background-color: rgb(30, 143, 163);
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  .navItems {
    display: flex;
    flex-direction: column;
  }

  .navItems :not(:first-child) {
    display: none;
  }

  .pokemonSearch {
    width: 80%;
  }
}
